<div class="modal fade" id="modal_edit_{{ transaction.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Редактировать запись</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form action="/edit/{{ transaction.id }}" method="post" style="max-width: 800px">
          <div class="modal-body">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="email" class="form-label">Почта</label>
                  <input name="email" value="{{ transaction.email }}" type="text" class="form-control" id="email" readonly>
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Описание</label>
                  <input value="{{ transaction.description }}" name="description" type="text" class="form-control" id="description" required>
                </div>
                <div class="mb-3">
                  <label for="status" class="form-label">Статус</label>
                    <select name="status" id="status" class="form-control">
                        <option value="in_progress">В прогрессе</option>
                        <option value="resolved">Решена</option>
                    </select>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
    </div>
  </div>
</div>
